/* rowdies-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rowdies-v17-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rowdies-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rowdies-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rowdies-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rowdies-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v30-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primapy-light: #ffffff;
  --primapy-yellow: #ff9f0e;
  --primapy-dark: #181817;
  --secondary-light: #fffaf3;
  --secondary-yellow: #fcb62a;
  --secondary-blue: #f1f3ff;
  --secondary-green: #839aa9;
  --secondary-pink: #f9f9ff;
  --secondary-fiolet: #d9a6ff;
}

/* base */

* {
  /*завжди пишеться в код  */
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
  /* щоб правилтно наслідувались властивості від батьків */
}

a {
  color: inherit;
  /* щоб наслідувався колір зсилок від батьків*/
  text-decoration: none;
  /* підкреслення */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  color: var(--primapy-dark);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 133.333% */
  letter-spacing: 0.9px;

  /* background-color: #839aa9; */
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

ul {
  list-style-type: none;
}
.button_form {
  padding: 16px 32px;
  border-radius: 8px;
  color: var(--primapy-light);
  background-color: var(--primapy-yellow);
  cursor: pointer;
  border: 0;
  width: 150px;
  height: 53px;
}

.button_form:active {
  background-color: var(--secondary-yellow);
}

.link {
  color: var(--primapy-dark);
  text-decoration: none;
  font-family: Roboto;
  line-height: 1.5; /* 133.333% */
  letter-spacing: 0.9px;
}
.link:hover {
  color: var(--primapy-yellow);
}
.shadow1 {
  box-shadow: 0px 4px 4px 0px rgba(24, 24, 23, 0.05);
}
.shadow2 {
  box-shadow: 0px 8px 16px 0px rgba(24, 24, 23, 0.08);
}
.shadow3 {
  box-shadow: 0px 0px 8px 0px rgba(24, 24, 23, 0.08);
}

.d210 {
  height: 210px;
}
.d60 {
  height: 60px;
}

/* header */
.brand__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.brand__logo__text {
  font-family: Rowdies;
  margin: 10px 0 0 0;
  color: var(--primapy-yellow);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.logo__part {
  font-family: Rowdies;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
.nav__menu {
  display: flex;
}
.nav__wrapper {
  display: flex;
}
.header__nav-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  column-gap: 48px;
}
.wrapper__button {
  display: flex;
  gap: 24px;
  align-items: center;
}
.icon-bag {
  fill: var(--primapy-yellow);
}

/* Hero section */
.hero__wrapper {
  position: relative;
  padding-top: 219px;
}
.hero__fon {
  position: absolute;
  bottom: 100px;
  top: 0;
  right: -100px;
  max-height: 808px;
  max-width: 100vw;

  left: -10px;
  z-index: -1;
}

.hero__fon2 {
  position: absolute;
  right: -57px;
  bottom: 291px;
}

.hero__fon3 {
  position: absolute;
  bottom: 72px;
  right: 586px;
}

.hero__fon4 {
  position: absolute;
  bottom: 265px;
  right: 599px;
  border-radius: 50px;
}

.hero__fon5 {
  position: absolute;
  bottom: 640px;
  right: -115px;
}

.hero__fon6 {
  position: absolute;
  bottom: 664px;
  right: 340px;
}

.hero__fon7 {
  position: absolute;
  bottom: -45px;
  right: 882px;
}
.hero__fon8 {
  position: absolute;
  bottom: 526px;
  right: 698px;
}

.hero__fon1 {
  position: absolute;
  border-radius: 50px;
  bottom: 511px;
  right: 359px;
}

.d210 {
  height: 210px;
}
.hero_title {
  font-family: Rowdies;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  max-width: 635px;
}
.hero__text {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  max-width: 499px;
}
.hero__wrapper {
  display: flex;
  column-gap: 65px;
}

/* Recommend__section */
.recomend__title {
  font-family: Rowdies;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 40px;
  margin: 0;
}
.recomend__text {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.recommend__wrapper {
  display: inline;
}
.recomend__wrapper-image {
  display: inline;
}

.recomend__wrapper-text {
  align-items: center;
  display: flex;
}

.recommend__wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 32px;
}
.recomend__wrapper-image {
  display: flex;
  justify-content: left;
}
.recomend__video {
  position: absolute;
  right: 655px;
  bottom: 440px;
}
.recomend__image {
  max-width: 650px;
}
.recomend__wrapper-text {
  align-items: center;
}

/* Services__section */
.servis__title {
  font-family: Rowdies;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.servis__card {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  text-decoration: none;
  justify-content: center;
}

.servis-bat {
  background: linear-gradient(180deg, #fff 0%, #fffbf4 100%);
}
.services__section {
  position: relative;
}
.servis__fon {
  position: absolute;
  z-index: -1;
  width: 100vw;
  max-height: 521px;
  top: -50px;
}
.servis__next {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: end;
  color: var(--primapy-yellow);
}
.anext {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.9px;
  width: 125px;
  color: var(--primapy-yellow);
}
.content_li {
  justify-content: space-between;
  padding: 55px 71px 47px 71px;
  border-radius: 16px;
  background-color: linear-gradient(180deg, #fff 0%, #fffbf4 100%);
}
.services__wrapper {
  align-items: center;
  justify-content: space-around;
  margin-bottom: 96px;
}
.icon1 {
  fill: var(--primapy-dark);
  justify-content: center;
  align-self: center;
}
.servis-item {
  margin-top: 24px;
  margin-bottom: 0;
}
.servis__wrap-card {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 24px;
  text-decoration: none;
}
.li__next {
  align-self: end;
  width: 172px;
  height: 24px;
  display: flex;
}

/* customer__section */

.customer__title {
  font-family: Rowdies;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.card__title {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card__text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .customer__slider {
  display: flex;
  column-gap: 16px;
} */
.slider__card {
  width: 344px;
  height: 456px;

  align-items: flex-end;
}
.blog__slider {
  display: flex;
  flex-direction: column;
}
.slider__image {
  position: absolute;
  z-index: -1;
  border-radius: 24px;
}
.slider-text {
  background-color: var(--secondary-green);
  text-align: center;
  color: var(--primapy-light);
  height: 150px;
  border-radius: 0 0 24px 24px;
}
.slider-text-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
}
.card__title {
  margin-bottom: 0;
}
.d500 {
  height: 320px;
}
.card__text {
  padding-top: 8px;
  padding-bottom: 24px;
  margin-bottom: 0;
}
.swiper-wrapper {
  padding-left: 16px;
}
.swiper-slide {
  gap: 16px;
  width: 344px;
  height: 456px;
}
.blog__slider {
  display: flex;
  justify-content: space-between;
}
.bons__content {
  display: flex;
  justify-content: space-between;
}
.bons__text {
  color: var(--primapy-yellow);
}
.bullet {
  display: block;
  margin: auto;
}

/* Contact__section */
.contact__title {
  font-family: Rowdies;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  max-width: 605px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.contact__text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.9px;
  color: var(--secondary-green);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 42px;
}
.contact__section {
  padding-top: 168px;
  position: relative;
}
.contact__fon {
  width: 100vw;
  position: absolute;
  z-index: -2;
  height: 833px;
  top: -100px;
}
.contact__wrapper {
  position: relative;

  .form__wrapper {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-bottom: 72px;
  }
}
.dog-img-left {
  position: absolute;
  left: -100px;
  bottom: 10px;
  max-height: 520px;
  max-width: 488px;
}
.dog-img-right {
  position: absolute;
  max-height: 752px;
  max-width: 322px;
  left: 1000px;
  top: -120px;
}
.lapa-cont {
  position: absolute;
  right: 943px;
  top: -59px;
}
.nawui-cont {
  position: absolute;
  left: -180px;
  bottom: 480px;
}
.bon-cont {
  position: absolute;
  right: 639px;
  top: -65px;
}
.lapa2-cont {
  position: absolute;
  top: -192px;
  right: 60px;
  transform: rotate(77deg);
}
.bon2-cont {
  position: absolute;
  right: -121px;
  top: -38px;
  z-index: -2;
}

/* Footer */
.footer__section {
  margin-top: 20px;
  padding-top: 32px;
  padding-bottom: 31px;
  margin-bottom: 50px;
  background-color: #fffaf3;
}

.footer__wrapper {
  height: 200px;
  position: relative;
}
.footer__social-wrap {
  display: flex;

  gap: 0 8px;
}
.footer__logo-group {
  display: flex;
  row-gap: 24px;
  flex-direction: column;
}
.footer__flex-wrapper {
  display: flex;
  gap: 0 136px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer__img {
  position: absolute;
  right: -33px;
  top: -29px;
}

/* MODALNE vikno */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  position: relative;
  width: 880px;
  height: 880px;
  background-color: var(--secondary-light);
  border-radius: 32px;

  /* wob polia formu vlazulu */
  overflow-y: avto;
}
.backdrop.is-hidden {
  /* prozorui */
  opacity: 0;
  /* hovae vikno */
  visibility: hidden;
  /* wob ne mowna bulo nawatu */
  pointer-events: none;
}
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 45px;
  height: 45px;
  margin: auto;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.modal-btn-close:hover {
  background-color: var(--primapy-yellow);
}
.modal-btn-close:active {
  background-color: var(--secondary-yellow);
}
.wrapper__form {
  padding: 140px;
}
/* Form */

.form__title {
  text-align: center;
  font-family: Rowdies;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__subtitle {
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.9px;
  color: var(--secondary-green);
}
.form-input {
  padding: 12.5px 35px 12.5px 80px;
  width: 100%;
  background-color: transparent;
  color: var(--primapy-yellow);
  border: 1px solid var(--primapy-yellow);
  border-radius: 8px;
}
.input-wrapper {
  margin-bottom: 24px;
  position: relative;
}
.input-wrapper:focus-within .form-label {
  opacity: 0;
}
.form-input:focus {
  border-color: var(--secondary-yellow);
  /* po zamovchyvanni treba zniatu */
  outline: none;
}
.form-label {
  position: absolute;
  color: var(--primapy-yellow);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 133.333% */
  letter-spacing: 0.9px;
  left: 80px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  transform: translate();
  transition: transform 0.3;
}
.form-label:hover {
  color: var(--primapy-dark);
}
.form-icon {
  position: absolute;
  left: 40px;
  top: 6px;
}
.form-chek {
  color: var(--secondary-green);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  padding-top: 16px;
}
/* wob knopka stala po centru  */
.button_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Form footer */

.footer__input-wrapper {
  margin-bottom: 16px;
  position: relative;
}
.footer__form-label {
  position: absolute;
  color: var(--primapy-yellow);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; /* 133.333% */
  letter-spacing: 0.9px;
  left: 56px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  padding-left: 24px;
  transform: translate();
  transition: transform 0.3;
}
.footer__form-label:hover {
  color: var(--primapy-dark);
}
.footer__form-icon {
  position: absolute;
  height: 24px;
  width: 24px;
  left: 24px;
  top: 8px;
}
.footer__form-input {
  padding: 12.5px 35px 12.5px 80px;
  width: 100%;
  background-color: transparent;
  color: var(--primapy-yellow);
  border: 1px solid var(--primapy-yellow);
  border-radius: 8px;
}
.footer__form-input:focus {
  border-color: var(--secondary-yellow);
  /* po zamovchyvanni treba zniatu */
  outline: none;
}
.footer__button_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttton {
  padding: 8px 24px;
  border-radius: 4px;
  color: var(--primapy-light);
  background-color: var(--primapy-yellow);
  cursor: pointer;
  border: 0;
  width: 126px;
  height: 35px;
}
.footer__input-wrapper:focus-within .footer__form-label {
  opacity: 0;
}
.footer__form-label2 {
  position: absolute;
  color: var(--primapy-yellow);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; /* 133.333% */
  letter-spacing: 0.9px;
  left: 24px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  padding-left: 24px;
  transform: translate();
  transition: transform 0.3;
}
.footer__form-label2:hover {
  color: var(--primapy-dark);
}
.footer__input-wrapper:focus-within .footer__form-label2 {
  opacity: 0;
}
