/* rowdies-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rowdies-v17-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rowdies-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rowdies-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rowdies-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rowdies-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v30-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primapy-light: #ffffff;
  --primapy-yellow: #ff9f0e;
  --primapy-dark: #181817;
  --secondary-light: #fffaf3;
  --secondary-yellow: #fcb62a;
  --secondary-blue: #f1f3ff;
  --secondary-green: #839aa9;
  --secondary-pink: #f9f9ff;
  --secondary-fiolet: #d9a6ff;
}

/* base */

* {
  /*завжди пишеться в код  */
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  color: var(--primapy-dark);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 133.333% */
  letter-spacing: 0.9px;
  /* background-color: #839aa9; */
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

ul {
  list-style-type: none;
}
.button_form {
  padding: 16px 32px;
  border-radius: 8px;
  color: var(--primapy-light);
  background-color: var(--primapy-yellow);
  cursor: pointer;
  border: 0;
  width: 150px;
  height: 53px;
}

.button_form:active {
  background-color: var(--secondary-yellow);
}

.link {
  color: var(--primapy-dark);
  text-decoration: none;
  font-family: Roboto;
  line-height: 1.5; /* 133.333% */
  letter-spacing: 0.9px;
}
.link:hover {
  color: var(--primapy-yellow);
}
.shadow1 {
  box-shadow: 0px 4px 4px 0px rgba(24, 24, 23, 0.05);
}
.shadow2 {
  box-shadow: 0px 8px 16px 0px rgba(24, 24, 23, 0.08);
}
.shadow3 {
  box-shadow: 0px 0px 8px 0px rgba(24, 24, 23, 0.08);
}

.d210 {
  height: 210px;
}
.d60 {
  height: 60px;
}

/* header */
.brand__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.brand__logo__text {
  font-family: Rowdies;
  margin: 10px 0 0 0;
  color: var(--primapy-yellow);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.logo__part {
  font-family: Rowdies;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
.nav__menu {
  display: flex;
}
.nav__wrapper {
  display: flex;
}
.header__nav-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  column-gap: 48px;
}
.wrapper__button {
  display: flex;
  gap: 24px;
  align-items: center;
}
.icon-bag {
  fill: var(--primapy-yellow);
}

/* Hero section */

.d210 {
  height: 210px;
}
.hero_title {
  font-family: Rowdies;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  max-width: 635px;
}
.hero__text {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  max-width: 635px;
}
.hero__wrapper {
  display: flex;
  column-gap: 65px;
}

/* Recommend__section */
.recomend__title {
  font-family: Rowdies;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 40px;
  margin: 0;
}
.recomend__text {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.recommend__wrapper {
  display: inline;
}
.recomend__wrapper-image {
  display: inline;
}

.recomend__wrapper-text {
  align-items: center;
  display: flex;
}

.recommend__wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 32px;
}
.recomend__wrapper-image {
  display: flex;
  justify-content: left;
}
.recomend__video {
  position: absolute;
  right: 655px;
  bottom: 440px;
}
.recomend__image {
  max-width: 650px;
}
.recomend__wrapper-text {
  align-items: center;
}

/* Services__section */
.servis__title {
  font-family: Rowdies;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.servis__card {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  text-decoration: none;
  justify-content: center;
  color: var(--primapy-yellow);
}
.servis__next {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-decoration: none;
  justify-content: end;
  color: var(--primapy-yellow);
}
.anext {
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.9px;
  width: 125px;
}
.content_li {
  justify-content: space-between;
  padding: 55px 71px 47px 71px;
  border-radius: 16px;
  background-color: var(--primapy-light);
}
.services__wrapper {
  align-items: center;
  justify-content: space-around;
  margin-bottom: 96px;
}
.icon1 {
  fill: var(--primapy-dark);
  justify-content: center;
  align-self: center;
}
.servis-item {
  margin-top: 24px;
  margin-bottom: 0;
}
.servis__wrap-card {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 24px;
  text-decoration: none;
}
.li__next {
  align-self: end;
  width: 172px;
  height: 24px;
}

/* customer__section */

.customer__title {
  font-family: Rowdies;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.card__title {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card__text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Contact__section */
.contact__title {
  font-family: Rowdies;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.contact__text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.9px;
  color: var(--secondary-green);
  text-align: center;
}
